# Caddy configuration for the Rails console.

{
    auto_https disable_redirects
}

:8080 {
    reverse_proxy localhost:5000
    encode gzip
    log {
        output file /tmp/caddy.log
        format console
    }
}
