/* Lumenmon TUI Theme */

DataTable {
    height: 95%;
    width: 100%;
}

#detail_view {
    display: none;
}

#detail_view.visible {
    display: block;
    height: 100%;
}

#dashboard.hidden {
    display: none;
}

Static {
    margin: 1;
    padding: 1;
}

#metrics_list {
    height: 10;
    border: solid #444444;
    padding: 1;
}

#cpu_graph_large, #mem_graph_large, #disk_graph_large, #custom_graph_large {
    width: 50%;
    height: 25;
    border: solid #444444;
    padding: 1;
}